*{
    margin: 0;
}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
    height: 4.25rem;
    box-shadow: 5px 2px 5px lightgray;
}
.bar__start{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bar__end{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.bar__searchbar {
    width: 10rem;
    height: 1.75rem;
    padding-left: 2rem;

    background: url(/src/assets/search.png) no-repeat scroll 0.438rem 0.48rem;
    background-color: #E0E0E0;
  
    outline:#bbb;
    border-style: solid;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.bar__searchbar *{
    margin-left: 0.8rem;
    font-size: 0.9rem;
}
.bar__searchbar:hover {
    background-color: rgb(199, 198, 198);
  }

.bar__profile {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1.25rem;    
}

#logo{
    height: 2.5rem;
    margin: 1.25rem;
}
#notify{
    height: 1.5rem;
    margin-right: 1.25rem;
    padding: 0;

}
#setting{
    height: 1.5rem;
    margin-right: 1.25rem;
    padding: 0;
    padding-bottom: 0.25rem;

}
#darkmode{
    margin: 1.25rem;
    padding: 0;
    display: flex;
    justify-content: center;
}

#profile-image{
    height: 40px;
    width: 40px;
    display: inline-block;
}