#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
}

/* 
.app{
  transition-property: background-color;
  transition-duration: 10s;
  transition-timing-function: linear;
}

.light {
  color: rgb(238, 0, 0);
  background-color: #868686;

}

.dark {
  color: rgba(59, 59, 59, 0.87);
  background-color: #FFF8ED;
} */


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background-color: #FFFFFF;
  margin: 2rem;
  border-radius: 25px;
}

.read-the-docs {
  color: #888;
}

.card h3{
  text-align: left;
}

/* Account Overview Styling */

#dash-cont{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
}
#dash-cont img{
  width: 33%;
  border-radius: 10px;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
/* Batch List */
#batch-list ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem;
}
#batch-list ul li{
  list-style: none;
  font-weight:600;
}
#item{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem;
  background-color: lightsteelblue;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
#batch{
  margin-left: -2rem;
  padding: 0;
  margin-top: 0.6rem;
}
#import-widget{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#import-widget p{
  font-size: small;
}
#progress-bar{
  height: 0.5rem;
  width: 4rem;
  background-color: aquamarine;
  margin-left: 0.6rem;
}
#imported {
  display: flex;
  flex-direction: column;
  margin-left: -2.4rem;
  align-items: flex-start;
}
#imported h4{
  margin-bottom: -0.25rem;
}
#status{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* background-color: aqua; */
  width: 11rem;
  margin-right: 2rem;
}
#status-message{
  height: 2rem;
  width: 4rem;
  text-align: center  ;
  background-color: azure;

}
#errors{
  height: 2rem;
  width: 4rem;  
  text-align: left;
  margin-left: 0.25rem;
}
